extends ../layouts/layout.pug

block main
    .row
    .col-md-6.col-md-offset-3
        form(method="post" action="/projects/create" enctype="multipart/form-data")
            .form-group
                label(for='projectName') Project name
                
                input#projectName.form-control(type='text', placeholder='Project name' name="name")
            .form-group
                label(for='description') Description
                textarea#description.form-control(rows='5', placeholder='Add the description of your project' name="description")
            .form-group
                label(for='description') Select pictures   
                input#picturesUpload(type="file" multiple)
  
            button.btn.btn-default(type='submit') Create project


