extends ../layouts/layout.pug

block main

 if(projects === undefined || projects.length == 0)
    h1 No projects currently available:
 else 
   h3 Check out your projects:
    ul
    each val in projects
        li
         a(href='/'+val._id.creator.username+'/'+val._id.name)= val._id.name
         br
         =val._id.description