extends ../layouts/layout.pug

block main
 .jumbotron
    h1 Jumbotron
    p
        | This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.
    p
        a.btn.btn-primary.btn-lg Learn more
