doctype
html
  head
    title IOT showcase
    link(href="/bower_components/bootstrap/dist/css/bootstrap.min.css", rel="stylesheet")
  body
    nav.navbar.navbar-default
      .container-fluid
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          |  
          a.navbar-brand(href='/')
                img(alt='Home', src='/images/logo.png' style=" margin-top: -10px;")
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav
            li.active           
              span.sr-only (current)
            li
              a(href='/about') About
           



          form.navbar-form.navbar-left(method="get" action="/search")
            .form-group
              input.form-control(type='text', name="q" , placeholder='Search for project or user') 
            button.btn.btn-default(type='submit') Submit
          ul.nav.navbar-nav.navbar-right

            if(currentUser)

            
              ul.nav.navbar-nav
                li.dropdown
                  a.dropdown-toggle(href='#', data-toggle='dropdown')
                    | Manage projects
                    span.glyphicon.glyphicon-wrench.pull-right
                  ul.dropdown-menu
                    li
                      a(href='/projects/add')
                        | Add new
                        span.glyphicon.glyphicon-plus.pull-right

                    li.divider
                    li
                      a(href='/projects/edit')
                        | Edit
                        span.glyphicon.glyphicon-pencil.pull-right   
                    li.divider
                    li
                      a(href='/projects/statistics')
                        | Statistics
                        span.glyphicon.glyphicon-stats.pull-right
                   

                
              li.dropdown
                a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false')=currentUser.username
                  
                  span.caret
                ul.dropdown-menu(role='menu')
                  li
                    a(href="/users/profile") Profile
                     span.glyphicon.glyphicon-user.pull-right
                  li.divider   
                  li
                    a(onclick="event.preventDefault();document.getElementById('logout-form').submit();") Logout
                     span.glyphicon.glyphicon-log-out.pull-right
                    form#logout-form(action="/users/logout", method='POST', style='display: none;')
                
            else
                li
                  a(href="/users/register") Register
                li
                  a(href="/users/login") Login


  block main

  block scripts
  script(type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js")
  script(type="text/javascript" src="/bower_components/bootstrap/dist/js/bootstrap.min.js")
  
